ul, li {
	padding: 0;
	margin: 0;
	list-style: none;
}

ul {

	padding-top: 3rem;

	@media (min-width: 42rem) {
		columns: 3;
		column-gap: 4rem;
	}
}

li {
	break-inside: avoid-column;
	padding-bottom: .5em;
}

h3, h4, p {
	margin: 0;
}

h1 {
	padding: 0 0 .25em;
}

h1, h1 + p {
	text-align: center;
}

ul + h1 {
	margin-top: 4rem;
}

h4 {
	font-size: 1rem;
	line-height: 1.5;
	margin-top: .5em;
}

h2 {
	margin: 3rem 0 2rem;
}

.alphabet h3 {
	margin: 1rem 0;
}

.alphabet li:first-child h3 {
	margin-top: 0;
}

strong,
.rerun a {
	color: #D7141A;

	&:hover {
		border-bottom-color: #D7141A;
	}
}

.second-round li {
	padding-bottom: 2rem;
}

.second-round p {
	color: #aaa;
	font-weight: normal;
}

.win h4 {

	a {
		color: #000;

		position: relative;

		&:before {
			content: "";
			position: absolute;
			width: .5em;
			height: .5em;
			border-radius: 50%;
			background: #00bf04;
			top: .4em;
			right: -1rem;
		}
	}
	
}