.update {
	border-left: 3px solid #3c2e8d;
	padding: .5rem 1rem;
	padding-left: 1rem;
	padding-left: calc(1rem - 3px);
}

h3 {
	margin: 0;
	padding: 0 0 .5em 0;
}

.update-source {
	padding: .5em 0 0 0;
	font-size: 11px;
}