.layout-candidate {
	max-width: 40rem;
	margin: auto;	
	text-align: center;
}

h1 {
	margin: 0;
	padding: 0;
	text-align: center;
}

h1 + p {
	margin-top: 1em;
}

h2 {
	margin-top: 4rem;
}

.rerun .highlight {
	color: #D7141A;
}

blockquote {
	font-family: serif;
    font-style: italic;
    font-size: 1.25rem;
    padding: .5em 1em;
    margin: 1em auto 0;
    position: relative;
	border: 1px solid #ddd;
	box-shadow: 0 5px 13px #eee;
    background: #fff;
    display: inline-block;

    &:before {
    	content: "";
    	position: absolute;
    	width: 1rem;
    	height: 1rem;
    	border-left: 1px solid #ddd;
    	border-top: 1px solid #ddd;
    	background: #fff;
    	transform: rotate(45deg) translateY(10px);
    	bottom: 100%;
    	left: 50%;
    }

    @media (min-width: 45rem) {
	    font-size: 1.5rem;
	    padding: 1em 2em;
	    margin: 2em auto 1em;

	    &:before {
	    	width: 2rem;
	    	height: 2rem;
	    	transform: rotate(45deg) translateY(22px);
	    }
    }
}

.about {
	line-height: 1.5;
}

.button {
	margin-top: 1rem;
}

.social {
	margin: 1.5rem 0 1.5rem;

	a {
		border: none;
	}

	span {
		font-size: 9px;
		text-transform: uppercase;
		color: #aaa;
		display: block;
		font-weight: bold;
		margin: .5rem auto 0;

		transition: color .25s;
		text-align: center;
	}

	a:hover span {
		color: #444;
	}
}

.activity {
	margin: 2rem 0 1rem;
}

.activity-voted {
	margin-top: 1rem;
}

.icon {
	display: inline-block;
	margin-right: 1em;

	img {
		display: block;
		width: 3rem;
		height: 3rem;
		border-radius: 50%;
		overflow: hidden;
		margin: auto;

	    @media (min-width: 45rem) {
			width: 5rem;
			height: 5rem;
	    }


	}
}

.audio {
	border: 1px solid #ddd;
	border-left: 3px solid #d7141a;
	border-right: 3px solid #11457e;
	box-shadow: 0 5px 13px #eee;
	overflow: hidden;
	margin: 0 -1rem .5em;

	@media (min-width: 40rem) {
		margin: 0 auto .5em;
	}
}

.action-vote + .action-vote {
	margin-left: 1rem;
}