<div id="app">
	<div class="header">
		<h1>
			<router-link to="/">
				<img src="static/logo.png" alt="Programy kandidátů pro senátní volby 5. a 6. října 2018">
			</router-link>
		</h1>
		<div class="content">
			<div class="search">
				<input type="text" v-model="$store.state.search" class="input" placeholder="Jméno kandidáta nebo obvodu">
			</div>	
			<ul v-if="sorted.length > 0">
				<li v-for="(result, index) in sorted">
					<div class="result">
						<h3>
							<router-link :to="'/kandidat/' + result.ID" v-html="result.CELEJMENO"></router-link>
						</h3>
						<p v-if="$store.state.enum.length > 0" v-html="$store.state.enum.find(item => item.OBVOD === result.OBVOD).OBVOD_NAZEV"></p>				
					</div>
				</li>
			</ul>
			<ul v-if="regions.length > 0">
				<li v-for="(result, index) in regions">
					<div class="result">
						<h3>
							<router-link :to="'/obvod/' + result.OBVOD" v-html="$store.state.enum.find(item => item.OBVOD === result.OBVOD).OBVOD_NAZEV"></router-link>
						</h3>
					</div>
				</li>
			</ul>
		</div>
	</div>
	<div class="main">
		<div class="content">
		    <router-view></router-view> 
		</div>
	</div>
	<div class="footer">
		<div class="content">
		    <div class="copyright">
		    	<p>Web vytvořil <a href="https://www.twitter.com/stepanrysavy" target="_blank">@stepanrysavy</a></p>
		    	<p>Číselníky a kandidátky z <a href="https://www.czso.cz/csu/czso/podminky_pro_vyuzivani_a_dalsi_zverejnovani_statistickych_udaju_csu" target="_blank">otevřených dat ČSÚ</a></p>
		    	<p>Jednotlivé programy vkládají lidé, zaslané odkazy kontrolujeme.</p>
		    </div>
		    <div class="social">
		    	<h2>Připojte se:</h2>
		    	<p>
		    		<a href="https://www.twitter.com/programydovoleb" target="_blank">Twitter</a>
					&middot;
		    		<a href="https://www.facebook.com/programydovoleb" target="_blank">Facebook</a>
		    	</p>
		    </div>
		</div>
	</div>
</div>
