.list {
	margin: 2.5rem -.5rem -.5rem;

	@media (min-width: 30rem) {
		display: flex;
		flex-wrap: wrap;

		li {
			width: 50%;
		}
	}

	&.columns-3 {
		@media (min-width: 60rem) {
			li {
				width: 33.33%;
			}
		}
	}
}