.layout-detail {

	margin: 0 0 3rem 0;
	padding: 0 0 3rem 0;
	// border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;

	h1 {
		margin: 0;
	}

	table {
		width: 100%;
		margin-top: 2rem;
	}

	td, th {
		padding: .5rem;
		border-bottom: 1px solid transparent;
		vertical-align: baseline;
		min-width: 2rem;
		text-align: left;
		font-weight: normal;

		&:last-child {
			min-width: 4rem;
		}
	}

	tr:hover td,
	tr:hover th {
		background: #f4f4f4;
	}

	.result {
		display: none;
	}

	@media (max-width: 45rem) {
		td, tr, th {
			display: block;
		}

		td:empty {
			display: none;
		}

		td, th {
			padding: .25rem 0;
		}

		tr {
			margin-bottom: 2rem;
		}

		th {
			font-weight: bold;
		}

		label {
			display: block;
		}

		h1, p {
			margin: 0;
		}
	}
}

small {
	font-size: 1rem;
	color: #aaa;
}

label {
	font-size: .84rem;
	font-weight: bold;
	text-transform: uppercase;
	width: 10rem;
	display: inline-block;
}

input {
	width: 100%;
	display: block;
	padding: .5em 1em;
	font-size: 1rem;
	margin: 1.5em 0;
	border: 1px solid #acabef;

	@media (min-width: 40rem) {
		width: 20rem;
		display: inline-block;
		margin: 0;
	}
}

h3 {
	margin: 0;

	@media (max-width: 45rem) {
		margin-bottom: .5em;
	}
}

td span {
	display: none;
}

td a + span:not(:last-child) {
	display: inline-block;
}

.add-form {
}

.add-headline {
	position: relative;

	h1 {
		margin-bottom: 2rem;
	}
}

.add-headline .add-close {
	position: absolute;
	padding: .2em .5em;
	top: 0;
	right: 0;
	font-size: 2rem;
}

.add-after .add-headline .add-close {
	font-size: 1.5rem;
	display: inline-block;
	position: static;
}

.add-input {
	margin-bottom: 1.5rem;
	padding: 0 .5rem;

	p {
		display: none;
	}
}

.add-input.sent {
	input, button {
		display: none;
	}
	p {
		display: inline;
	}
}

.add-note p {
	font-size: 11px;
	margin-top: 1rem;
}

blockquote {
	font-family: serif;
    font-style: italic;
    font-size: 1.5rem;
    padding: .1em 0 1em .5em;
    margin: 0;
}