a {
	color: #fff;
	font-weight: bold;
}

.social-facebook {
	background: #3B5998;
}

.social-twitter {
	background: #00aced;
}

.social-instagram {
	background: #8134AF;
}	

.social-youtube {
	background: #bb0000;	
}

.social {
	position: absolute;
    bottom: 100%;
    right: 2rem;
}

.social-item {
	display: inline-block;
	padding: .5em;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	text-align: center;
}

@media (min-width: 55rem) {

	.social {
		position: absolute;
	    bottom: auto;
	    left: 100%;
	    right: auto;
	    top: 2rem;
	    text-align: left;
	}

	.social-item {
		display: inline-block;
		padding: .5em;
		border-top-left-radius: 0;
		border-bottom-right-radius: 4px;
		border-top-right-radius: 4px;
		width: 2.5em;
		text-align: center;

		transition: all .25s ease-in-out;

		&:hover {
			width: 3em;
			padding: .5em;
		}
	}

	.social-item + .social-item {
		margin-top: .2em;
	}

}