<div class="social">
	<span class="social-item social-facebook" v-if="data.facebook">
		<a :href="data.facebook" target="_blank">FB</a>
	</span>
	<span class="social-item social-instagram" v-if="data.instagram">
		<a :href="data.instagram" target="_blank">IG</a>
	</span>
	<span class="social-item social-youtube" v-if="data.youtube">
		<a :href="data.youtube" target="_blank">YT</a>
	</span>
	<span class="social-item social-twitter" v-if="data.twitter">
		<a :href="data.twitter" target="_blank">TW</a>
	</span>
</div>

