<div class="layout-edit" v-if="$store.state.enum.length > 0 && $store.state.programs.length > 0 && program">
	<h1>Navrhnout úpravu</h1>
	<p>Všechny zaslané údaje prověřujeme, nezobrazují se proto ihned.</p>
	
	<div class="add">	
		<div class="add-input">
			<label>Kandidát</label> 
			{{ program.CELEJMENO }}
		</div>
		<div class="add-input">
			<label>Obvod</label> 
			{{ region.OBVOD_NAZEV }} 
		</div>
		<div class="add-input add-link add-link-heslo">
			<label>Heslo kampaně</label> 
			<input type="text" v-model="heslo" placeholder="Heslo kampaně">
			<button :disabled="heslo.length === 0" @click="sendForm('heslo')">Odeslat heslo</button>
			<p>Děkujeme za zaslání. Heslo ověříme a přidáme.</p>
		</div>
		<div class="add-input add-link add-link-www">
			<label>Program</label> 
			<input type="url" v-model="www" placeholder="http://odkaz.na/program">
			<button :disabled="disabled(www)" @click="sendForm('www')">Odeslat program</button>
			<p>Děkujeme za zaslání. Odkaz zkontrolujeme a přidáme.</p>
		</div>
		<div class="add-input add-link add-link-fb">
			<label>Facebook</label> 
			<input type="url" v-model="fb" placeholder="http://odkaz.na/program">
			<button :disabled="disabled(fb)" @click="sendForm('fb')">Odeslat odkaz</button>
			<p>Děkujeme za zaslání. Odkaz zkontrolujeme a přidáme.</p>
		</div>
		<div class="add-input add-link add-link-tw">
			<label>Twitter</label> 
			<input type="url" v-model="tw" placeholder="http://odkaz.na/program">
			<button :disabled="disabled(tw)" @click="sendForm('tw')">Odeslat odkaz</button>
			<p>Děkujeme za zaslání. Odkaz zkontrolujeme a přidáme.</p>
		</div>
	</div>
	<div class="list">
		<a href="javascript:window.history.go(-1)" class="button">Zavřít formulář</a>
	</div>
</div>

