img {
	display: block;
	width: 100%;
	height: auto;
}

.actions {
	margin-top: 1rem;
}

.no-border {
	border-bottom: none;
}

.image {
	padding: .5rem;
	text-align: center;
}

h4 {
	margin: .5rem 0;
}

.actions {
	font-size: .84rem;
}