<div class="layout-detail" v-if="$store.state.enum.length > 0">
	<h1>V kterých obvodech se letos volí?</h1>
	<ul>
		<li v-for="(result, index) in list">
			<div class="result">
				<h3>
					<router-link :to="'/obvod/' + result.OBVOD" v-html="result.OBVOD_NAZEV"></router-link>
				</h3>
			</div>
		</li>
	</ul>
	<h1>Kteří senátoři obhajují?</h1>
	<ul class="alphabet">
		<li v-for="(result, index) in $store.state.listOfCandidates.filter(item => item.OBHAJUJE === 1)">
			<div class="result">
				<h4 :class="{rerun: result.OBHAJUJE === 1}">
					<router-link :to="'/kandidat/' + result.ID" v-html="result.CELEJMENO"></router-link>
				</h4>	
			</div>
		</li>
	</ul>
	<h1>
		<router-link to="/kandidati">Abecední seznam kandidátů</router-link>
	</h1>
</div>

